---
name: CI
on:
  push:
    branches-ignore: dependabot/**
  pull_request:
  schedule:
    - cron: '30 12 * * 5'

permissions:
  contents: read

jobs:
  overcommit:
    name: Overcommit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Packages
        run: sudo apt-get install libperl-critic-perl cppcheck

      - name: Install overcommit and sign
        run: |
          sudo gem install overcommit --no-document
          overcommit --sign
          overcommit --sign pre-commit

      - name: Run hooks
        env:
          GIT_AUTHOR_NAME: Dummy
          GIT_AUTHOR_EMAIL: dummy@example.com
        run: overcommit --run

  build:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Packages
        run: sudo apt-get install libboost-test-dev

      - name: Build
        run: |
          cmake -S . -B build
          cmake --build build
